@{
    Layout="/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">

                </ul>
            </div>
</div>
    </div>

</div>